@use "_mixin.scss" as *;

p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    transition: all 0.5s;
    cursor: default;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1366px;
    margin: 0px auto;

    &.active1 {
        overflow-y: auto;
    }

    .popup-error-offline {
        width: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
        padding-top: 20px;
        display: none;
        opacity: 0;
        transition: all 0.5s;

        &.active {
            display: block;
        }

        .container {
            @include sc_width(250, 1224, 300, 1366);
            margin: 0px auto;
            background: #ce3737;
            border-radius: 15px;

            .popup-error-offline__p1 {
                font-family: Inter;
                font-size: 14px;
                font-weight: 500;
                line-height: 17px;
                letter-spacing: 0em;
                text-align: center;
                color: white;
                padding: 20px 50px 20px 50px;
            }
        }
    }

    .header {
        width: 100%;
        margin: 0px auto;

        .container-top {
            margin: 0px auto;
            @include sc_width(250, 1224, 300, 1366);

            .header {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 17px 0px 20px 0px;

                .logo {
                    margin-right: 15px;
                    @include sc_width(100, 201, 250, 1366);

                    .logo__title {
                        color: rgba(0, 0, 0, 0.7);
                        font-family: Inter;
                        @include sc_font_size(8, 12, 250, 1366);
                        font-weight: 600;
                        line-height: 15px;
                        letter-spacing: -0.02em;
                        text-align: center;
                    }

                    .logo__img {
                        width: 100%;
                    }
                }

                .nav {
                    display: flex;
                    justify-content: space-between;
                    @include sc_column-gap(15, 50, 1000, 1366);

                    .header__list {
                        display: none;
                        @include sc_width(650, 1186, 700, 1366);
                        margin: 0px auto;
                        justify-content: space-between;
                        padding: 18px 0px 22px 0px;

                        .header__link {
                            font-family: Inter;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 17px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: white;

                            &.active {
                                color: rgba(255, 194, 57, 1);
                            }
                        }
                    }

                    .address {
                        display: flex;
                        flex-direction: column;
                        row-gap: 8px;

                        .address__write {
                            color: rgba(0, 0, 0, 0.8);
                            font-family: Inter;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;
                            letter-spacing: 0em;
                            text-align: right;
                            white-space: nowrap;

                            .addres__mail {
                                color: rgb(33, 40, 100);
                                font-family: Inter;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17px;
                                letter-spacing: 0em;
                            }
                        }

                        .address__address {
                            color: rgba(0, 0, 0, 0.8);
                            font-family: Inter;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;
                            letter-spacing: 0em;
                            text-align: right;
                            white-space: nowrap;
                        }

                        .address__working-day {
                            color: rgba(0, 0, 0, 0.8);
                            font-family: Inter;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;
                            letter-spacing: 0em;
                            text-align: right;
                            white-space: nowrap;
                        }

                    }

                    .tel {
                        display: flex;
                        flex-direction: column;
                        row-gap: 8px;

                        .tel__lin1 {
                            color: rgba(33, 40, 100, 1);
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 19px;
                            letter-spacing: 0em;
                            white-space: nowrap;
                        }

                        .tel__lin2 {
                            color: rgba(33, 40, 100, 1);
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 19px;
                            letter-spacing: 0em;
                            white-space: nowrap;
                        }

                    }


                    .bell {
                        display: flex;
                        flex-direction: column;
                        row-gap: 8px;
                        flex-basis: 200px;

                        .bell__order-bell {
                            width: 100%;
                            padding: 14px 39px;
                            border: 1px solid #212864;
                            border-radius: 25px;
                            font-family: Inter;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 15px;
                            letter-spacing: 0em;
                            text-align: center;
                            color: rgba(33, 40, 100, 1);
                            transition: all 0.5s;
                        }

                        .bell__order-bell--touch1 {
                            &:active {
                                color: white;
                                background: #212864;
                            }
                        }

                        .bell__order-bell--touch0 {
                            &:hover {
                                color: white;
                                background: #212864;
                            }
                        }

                        .bell__list {
                            margin: 0px auto;
                            display: flex;
                            column-gap: 10.8px;

                        }
                    }

                    .function_list {
                        display: flex;
                        flex-direction: column;
                        row-gap: 8px;

                        .theme {
                            position: relative;
                            border-radius: 25px;
                            border: 1px solid black;
                            padding: 5px;
                            display: flex;

                            span {
                                border: 1px solid white;
                                border-radius: 9px;
                                padding: 2px;
                            }

                            .light {
                                border: 1px solid white;
                                font-size: 14px;

                                &.active {
                                    border: 1px solid black;
                                }
                            }

                            .dark {
                                font-size: 14px;
                                border: 1px solid white;

                                &.active {
                                    border: 1px solid black;
                                }
                            }
                        }

                        .language {
                            position: relative;
                            border-radius: 25px;
                            border: 1px solid black;
                            padding: 5px;
                            display: flex;
                            justify-content: space-around;

                            p {
                                border: 1px solid white;
                                border-radius: 9px;
                                padding: 2px;
                            }

                            .language__p1 {
                                border: 1px solid white;

                                &.active {
                                    border: 1px solid black;
                                }
                            }

                            .language__p2 {
                                border: 1px solid white;

                                &.active {
                                    border: 1px solid black;
                                }
                            }
                        }
                    }
                }

                .menu {
                    display: none;
                    padding: 5px;
                    border-radius: 10px;
                    transition: all 0.5s;

                    .menu__span {
                        font-size: 30px;
                        cursor: default;

                        &.disabled {
                            display: none;
                        }
                    }

                    .close_span {
                        display: none;
                        font-size: 30px;
                        cursor: default;

                        &.active {
                            display: block;
                        }
                    }
                }

                .menu--touch1 {
                    &:active {
                        background: rgba(140, 147, 209, 1);
                    }
                }

                .menu--touch0 {
                    &:hover {
                        background: rgba(140, 147, 209, 1);
                    }
                }
            }
        }

        .container-botton {
            width: 100%;
            background: rgba(21, 25, 61, 1);

            .header__list {
                @include sc_width(650, 1186, 700, 1366);
                margin: 0px auto;
                display: flex;
                justify-content: space-between;
                padding: 18px 0px 22px 0px;

                .header__link {
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 17px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: white;

                    &.active {
                        color: rgba(255, 194, 57, 1);
                    }
                }
            }
        }
    }

    .footer {
        width: 100%;
        background: rgba(34, 36, 46, 1);

        .container {
            margin: 0px auto;
            @include sc_width(250, 1224, 300, 1366);

            .footer__content-one {
                padding-top: calc(70px + (81 - 70) * ((100vw - 250px) / (1366 - 250)));
                padding-bottom: calc(45px + (80 - 45) * ((100vw - 250px) / (1366 - 250)));
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                display: flex;
                justify-content: space-between;

                .logo {
                    margin-right: 15px;
                    @include sc_width(100, 201, 250, 1366);

                    .logo__title {
                        color: rgba(255, 255, 255, 0.4);
                        font-family: Inter;
                        @include sc_font_size(8, 12, 250, 1366);
                        font-weight: 600;
                        line-height: 15px;
                        letter-spacing: -0.02em;
                        text-align: center;
                    }

                    .logo__img {
                        width: 100%;
                    }
                }

                .nav {
                    display: flex;
                    justify-content: space-between;


                    .address {
                        display: flex;
                        flex-direction: column;
                        row-gap: 8px;

                        .address__write {
                            color: rgba(255, 255, 255, 0.8);
                            font-family: Inter;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;
                            letter-spacing: 0em;
                            text-align: left;
                            white-space: nowrap;

                            .addres__mail {
                                color: rgba(255, 255, 255, 1);
                                font-family: Inter;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17px;
                                letter-spacing: 0em;
                            }
                        }

                        .address__address {
                            color: rgba(255, 255, 255, 0.8);
                            font-family: Inter;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;
                            letter-spacing: 0em;
                            text-align: left;
                            white-space: nowrap;
                        }

                        .address__working-day {
                            color: rgba(255, 255, 255, 0.8);
                            font-family: Inter;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;
                            letter-spacing: 0em;
                            text-align: left;
                            white-space: nowrap;
                        }

                    }

                    .tel {
                        display: flex;
                        flex-direction: column;
                        row-gap: 18.5px;
                        margin-left: calc(30px + (70 - 30) * ((100vw - 800px) / (1366 - 800)));

                        .tel__lin1 {
                            color: white;
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 19px;
                            letter-spacing: 0em;
                            white-space: nowrap;
                        }

                        .tel__lin2 {
                            color: white;
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 19px;
                            letter-spacing: 0em;
                            white-space: nowrap;
                        }

                    }


                    .bell {
                        display: flex;
                        flex-direction: column;
                        row-gap: 18.5px;
                        flex-basis: 200px;
                        margin-left: calc(30px + (105 - 30) * ((100vw - 800px) / (1366 - 800)));

                        .bell__order-bell {
                            width: 100%;
                            font-family: Inter;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 15px;
                            letter-spacing: 0em;
                            color: white;
                            text-align: center;
                        }

                        .bell__order-bell--touch1 {
                            &:active {
                                color: white;
                                background: #212864;
                            }
                        }

                        .bell__order-bell--touch0 {
                            &:hover {
                                color: white;
                                background: #212864;
                            }
                        }

                        .bell__list {
                            margin: 0px auto;
                            display: flex;
                            column-gap: 10.8px;

                        }
                    }
                }
            }

            .footer__content-two {
                width: 100%;
                padding-top: calc(53px + (40 - 53) * ((100vw - 250px) / (1366 - 250)));
                padding-bottom: calc(102px + (80 - 102) * ((100vw - 250px) / (1366 - 250)));
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);

                .footer__category {
                    padding-left: 5px;
                    padding-right: 5px;
                }

                .footer__category>p {
                    color: white;
                    font-family: Inter;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 22px;
                    margin-bottom: calc(26px + (29 - 26) * ((100vw - 250px) / (1366 - 250)));
                }

                .footer__category>div {
                    display: flex;
                    flex-direction: column;
                    @include sc_row-gap(15, 19, 250, 1366);

                    a {
                        color: white;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 17px;
                    }
                }
            }

            .footer__content-three {
                @include sc_padding(17, 29,
                    0, 0,
                    24, 36,
                    0, 0,
                    250, 1366);
                display: flex;
                justify-content: space-between;

                p,
                div>p {
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    letter-spacing: 0em;
                    color: rgba(255, 255, 255, 0.4);
                    padding-left: 5px;
                    padding-right: 5px;
                }

                .information {
                    display: flex;
                    column-gap: 32px;
                }

            }
        }
    }
}


.body-dark {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1366px;
    margin: 0px auto;

    &.active1 {
        overflow-y: auto;
    }

    .popup-error-offline {
        width: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
        padding-top: 20px;
        display: none;
        opacity: 0;
        transition: all 0.5s;

        &.active {
            display: block;
        }

        .container {
            @include sc_width(250, 1224, 300, 1366);
            margin: 0px auto;
            background: #ce3737;
            border-radius: 15px;

            .popup-error-offline__p1 {
                font-family: Inter;
                font-size: 14px;
                font-weight: 500;
                line-height: 17px;
                letter-spacing: 0em;
                text-align: center;
                color: white;
                padding: 20px 50px 20px 50px;
            }
        }
    }

    .header {
        width: 100%;
        margin: 0px auto;

        .container-top {
            margin: 0px auto;
            @include sc_width(250, 1224, 300, 1366);

            .header {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 17px 0px 20px 0px;

                .logo {
                    margin-right: 15px;
                    @include sc_width(100, 201, 250, 1366);

                    .logo__title {
                        color: rgba(243, 243, 243, 0.7);
                        font-family: Inter;
                        @include sc_font_size(8, 12, 250, 1366);
                        font-weight: 600;
                        line-height: 15px;
                        letter-spacing: -0.02em;
                        text-align: center;
                    }

                    .logo__img {
                        width: 100%;
                    }
                }

                .nav {
                    display: flex;
                    justify-content: space-between;
                    @include sc_column-gap(15, 50, 1000, 1366);
                    background: black;

                    .header__list {
                        display: none;
                        @include sc_width(650, 1186, 700, 1366);
                        margin: 0px auto;
                        justify-content: space-between;
                        padding: 18px 0px 22px 0px;

                        .header__link {
                            font-family: Inter;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 17px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: black;

                            &.active {
                                color: rgba(255, 194, 57, 1);
                            }
                        }
                    }

                    .address {
                        display: flex;
                        flex-direction: column;
                        row-gap: 8px;

                        .address__write {
                            color: rgba(246, 246, 246, 0.8);
                            font-family: Inter;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;
                            letter-spacing: 0em;
                            text-align: right;
                            white-space: nowrap;

                            .addres__mail {
                                color: rgb(189, 189, 189);
                                font-family: Inter;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17px;
                                letter-spacing: 0em;
                            }
                        }

                        .address__address {
                            color: rgba(245, 245, 245, 0.8);
                            font-family: Inter;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;
                            letter-spacing: 0em;
                            text-align: right;
                            white-space: nowrap;
                        }

                        .address__working-day {
                            color: rgba(251, 251, 251, 0.8);
                            font-family: Inter;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;
                            letter-spacing: 0em;
                            text-align: right;
                            white-space: nowrap;
                        }

                    }

                    .tel {
                        display: flex;
                        flex-direction: column;
                        row-gap: 8px;

                        .tel__lin1 {
                            color: rgb(227, 227, 227);
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 19px;
                            letter-spacing: 0em;
                            white-space: nowrap;
                        }

                        .tel__lin2 {
                            color: rgb(219, 219, 219);
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 19px;
                            letter-spacing: 0em;
                            white-space: nowrap;
                        }

                    }


                    .bell {
                        display: flex;
                        flex-direction: column;
                        row-gap: 8px;
                        flex-basis: 200px;

                        .bell__order-bell {
                            width: 100%;
                            padding: 14px 39px;
                            border: 1px solid #212864;
                            border-radius: 25px;
                            font-family: Inter;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 15px;
                            letter-spacing: 0em;
                            text-align: center;
                            color: rgb(246, 246, 246);
                            transition: all 0.5s;
                        }

                        .bell__order-bell--touch1 {
                            &:active {
                                color: white;
                                background: #212864;
                            }
                        }

                        .bell__order-bell--touch0 {
                            &:hover {
                                color: white;
                                background: #212864;
                            }
                        }

                        .bell__list {
                            margin: 0px auto;
                            display: flex;
                            column-gap: 10.8px;

                        }
                    }

                    .function_list {
                        display: flex;
                        flex-direction: column;
                        row-gap: 8px;

                        .theme {
                            position: relative;
                            border-radius: 25px;
                            border: 1px solid white;
                            padding: 5px;
                            display: flex;

                            span {
                                border: 1px solid white;
                                border-radius: 9px;
                                padding: 2px;
                                color: white;
                            }

                            .light {
                                border: 1px solid black;
                                font-size: 14px;
                                color: white;

                                &.active {
                                    border: 1px solid white;
                                }
                            }

                            .dark {
                                font-size: 14px;
                                color: white;
                                border: 1px solid black;

                                &.active {
                                    border: 1px solid white;
                                }
                            }
                        }

                        .language {
                            position: relative;
                            border-radius: 25px;
                            border: 1px solid white;
                            padding: 5px;
                            display: flex;
                            justify-content: space-around;

                            p {
                                border: 1px solid black;
                                border-radius: 9px;
                                padding: 2px;
                                color: white;
                            }

                            .language__p1 {
                                border: 1px solid black;

                                &.active {
                                    border: 1px solid white;
                                }
                            }

                            .language__p2 {
                                border: 1px solid black;

                                &.active {
                                    border: 1px solid white;
                                }
                            }
                        }
                    }
                }

                .menu {
                    display: none;
                    padding: 5px;
                    border-radius: 10px;
                    transition: all 0.5s;

                    .menu__span {
                        font-size: 30px;
                        cursor: default;
                        color: white;

                        &.disabled {
                            display: none;
                        }
                    }

                    .close_span {
                        display: none;
                        font-size: 30px;
                        cursor: default;
                        color: white;

                        &.active {
                            display: block;
                        }
                    }
                }

                .menu--touch1 {
                    &:active {
                        background: rgba(140, 147, 209, 1);
                    }
                }

                .menu--touch0 {
                    &:hover {
                        background: rgba(140, 147, 209, 1);
                    }
                }
            }
        }

        .container-botton {
            width: 100%;
            background: rgba(21, 25, 61, 1);

            .header__list {
                @include sc_width(650, 1186, 700, 1366);
                margin: 0px auto;
                display: flex;
                justify-content: space-between;
                padding: 18px 0px 22px 0px;

                .header__link {
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 17px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: white;

                    &.active {
                        color: rgba(255, 194, 57, 1);
                    }
                }
            }
        }
    }

    .footer {
        width: 100%;
        background: rgba(34, 36, 46, 1);

        .container {
            margin: 0px auto;
            @include sc_width(250, 1224, 300, 1366);

            .footer__content-one {
                padding-top: calc(70px + (81 - 70) * ((100vw - 250px) / (1366 - 250)));
                padding-bottom: calc(45px + (80 - 45) * ((100vw - 250px) / (1366 - 250)));
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                display: flex;
                justify-content: space-between;

                .logo {
                    margin-right: 15px;
                    @include sc_width(100, 201, 250, 1366);

                    .logo__title {
                        color: rgba(255, 255, 255, 0.4);
                        font-family: Inter;
                        @include sc_font_size(8, 12, 250, 1366);
                        font-weight: 600;
                        line-height: 15px;
                        letter-spacing: -0.02em;
                        text-align: center;
                    }

                    .logo__img {
                        width: 100%;
                    }
                }

                .nav {
                    display: flex;
                    justify-content: space-between;


                    .address {
                        display: flex;
                        flex-direction: column;
                        row-gap: 8px;

                        .address__write {
                            color: rgba(255, 255, 255, 0.8);
                            font-family: Inter;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;
                            letter-spacing: 0em;
                            text-align: left;
                            white-space: nowrap;

                            .addres__mail {
                                color: rgba(255, 255, 255, 1);
                                font-family: Inter;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17px;
                                letter-spacing: 0em;
                            }
                        }

                        .address__address {
                            color: rgba(255, 255, 255, 0.8);
                            font-family: Inter;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;
                            letter-spacing: 0em;
                            text-align: left;
                            white-space: nowrap;
                        }

                        .address__working-day {
                            color: rgba(255, 255, 255, 0.8);
                            font-family: Inter;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;
                            letter-spacing: 0em;
                            text-align: left;
                            white-space: nowrap;
                        }

                    }

                    .tel {
                        display: flex;
                        flex-direction: column;
                        row-gap: 18.5px;
                        margin-left: calc(30px + (70 - 30) * ((100vw - 800px) / (1366 - 800)));

                        .tel__lin1 {
                            color: white;
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 19px;
                            letter-spacing: 0em;
                            white-space: nowrap;
                        }

                        .tel__lin2 {
                            color: white;
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 19px;
                            letter-spacing: 0em;
                            white-space: nowrap;
                        }

                    }


                    .bell {
                        display: flex;
                        flex-direction: column;
                        row-gap: 18.5px;
                        flex-basis: 200px;
                        margin-left: calc(30px + (105 - 30) * ((100vw - 800px) / (1366 - 800)));

                        .bell__order-bell {
                            width: 100%;
                            font-family: Inter;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 15px;
                            letter-spacing: 0em;
                            color: white;
                            text-align: center;
                        }

                        .bell__order-bell--touch1 {
                            &:active {
                                color: white;
                                background: #212864;
                            }
                        }

                        .bell__order-bell--touch0 {
                            &:hover {
                                color: white;
                                background: #212864;
                            }
                        }

                        .bell__list {
                            margin: 0px auto;
                            display: flex;
                            column-gap: 10.8px;

                        }
                    }
                }
            }

            .footer__content-two {
                width: 100%;
                padding-top: calc(53px + (40 - 53) * ((100vw - 250px) / (1366 - 250)));
                padding-bottom: calc(102px + (80 - 102) * ((100vw - 250px) / (1366 - 250)));
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);

                .footer__category {
                    padding-left: 5px;
                    padding-right: 5px;
                }

                .footer__category>p {
                    color: white;
                    font-family: Inter;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 22px;
                    margin-bottom: calc(26px + (29 - 26) * ((100vw - 250px) / (1366 - 250)));
                }

                .footer__category>div {
                    display: flex;
                    flex-direction: column;
                    @include sc_row-gap(15, 19, 250, 1366);

                    a {
                        color: white;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 17px;
                    }
                }
            }

            .footer__content-three {
                @include sc_padding(17, 29,
                    0, 0,
                    24, 36,
                    0, 0,
                    250, 1366);
                display: flex;
                justify-content: space-between;

                p,
                div>p {
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    letter-spacing: 0em;
                    color: rgba(255, 255, 255, 0.4);
                    padding-left: 5px;
                    padding-right: 5px;
                }

                .information {
                    display: flex;
                    column-gap: 32px;
                }

            }
        }
    }
}